 /* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212; /* A slightly softer black */
  color: #EAEAEA; /* A gentle off-white for text */
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 112.5%; /* Increases base font size to 18px from default 16px */
  margin: 0;
  padding: 0;
  line-height: 1.7;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #AAAAAA; /* Subtle hover effect */
}

h1, h2 {
  font-weight: 600;
  margin-top: 0;
}